
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	CONTENT CONTAINER - TWO COLUMN

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.verticaltext
{
    font:bold 10px Tahoma;
    color: #0000FF;
    writing-mode: tb-rl;
    filter: flipH() flipV();
}

.rotar 
{
	display:block;
	white-space:nowrap;
	width:20px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#contenido-columna-derecha {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:907px;
	border:1px solid #818181;
	position:relative;
	top: 0px;
	left: 20px;
	background-image: url('../../Img/bg-content-side.png');
	background-repeat: repeat-y;
	background-position: right;
}

#contenido-columna {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:800px;
	border:1px solid #818181;
	position:relative;
	top: 0px;
	left: 20px;
}

#contenido-columna {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:907px;
	border:1px solid #818181;
	position:relative;
	top: 0px;
	left: 21px;
}

#contenido {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:907px;
	border:1px solid #818181;
	position:relative;
	top: 0px;
	left: 20px;
}

#content-main-two-column {
	width:683px;
	float:left;
    text-align: left;
}

#content-main-one-column {
	width:905px;
	float:left;
    text-align: left;
}

#content-main {
	width:864px;
	float:left;
}

#content-side-two-column {
	float:right;
	width:188px;
	padding-right: 5px;
	padding-left: 5px;
	}
	
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	CONTENT CONTAINER - THREE COLUMN

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#contenido-column-left {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:868px;
	border:1px solid #818181;
	position:relative;
	top: 0px;
	left: 0px;
	background-image: url(../../Img/bg-content-side-left.png);
	background-repeat: repeat-y;	
	}

#content-main-three-column {
	width:355px;
	float:left;
	margin-left:25px;
	}

#content-side2-three-column,
#content-side1-three-column {
	width:212px;
	font-size:.9em;
	}
	
#content-side2-three-column {
	float:right;
	}

#content-side1-three-column {
	float:left;
	}

#content-main-two-column-left {
	width:630px;
	float:right;
	margin-left: 10px;
}	

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HOME PAGE - THREE COLUMN SECTION

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#three-column-container {
	background:url(../../Img/bg-three-column-home.png) repeat-y;
	padding:0;
	margin:20px 0 10px 0;
	}

#three-column-side1 {
	float:left;
	width:29%;
}

#three-column-side2 {
	float:right;
	width:29%;
}

#three-column-middle {
	width:29%;
	margin-top: 10px;
	margin-right: 30%;
	margin-bottom: 0px;
	margin-left: 35%;
}
	
	
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    
    css-master

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HTML TAGS 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	margin:0px;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.7em;
	line-height:1.4em;
	color:#000000;
	/*color:#666666;*/
}

p {
	margin:10px 0;
    }

p.no-padding-no-margin {
	padding:0;
	margin:0;
	}
	
hr{
	color: #E5E5E5;
	background-color: #E5E5E5;
	height: 1px;
	border:0;
	margin:15px 0;
	_margin:10px 0;
	}
	
blockquote {
	padding:0 0 0 12px;
	margin:12px 0 0 0;
	background:url(../../Img/bg-quote.png) no-repeat;
	}

blockquote p {
	margin:2px 0;
	}
	
cite {
	font-size:.85em;
	margin:0;
	padding:0 0 0 6px;
	}

fieldset {
	padding:15px;
	}
	
legend {
	color:#333333;
	padding:5px 3px 10px 3px;	
	}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HEADINGS 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	
h1, h2, h3, h4, h5, h6 {
	font-size:1.8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	line-height:1.1em;
	margin:5px 0;
	color:White;
}

h1 {
	margin-bottom:0;
}

h1, h2 {
	margin-top:20px;
}

h2 {
	font-size:1.3em;
    text-align: center;
}

h3 {
	font-size:1.1em;
    text-align: center;
}

h3.small {
	font-size:1.2em;
}

h4 {
	font-size:1.1em;
}

h5 {
	font-size:1.1em;
}

h6 {
	font-size:1em;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LINKS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


a:link {
	color:#d61719;
	text-decoration:none;
    text-align: center;
}

a:visited {
	color:#980000;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

a:active {
	color:#980000;
}

#content-side-two-column a:link,
#content-side2-three-column a:link,
#content-side1-three-column a:link,
#content-side-two-column a:visited,
#content-side2-three-column a:visited,
#content-side1-three-column a:visited {
	text-decoration:none;
}

#content-side-two-column a:hover,
#content-side2-three-column a:hover,
#content-side1-three-column a:hover {
	text-decoration:underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	TOP INFORMATION

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#top-information {
	height:4.5em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3px;
	color:#999999;
	font-size:.85em;
	position:relative;
	width:900px;
	top: 0px;
	left: 0px;
}
	
#logo {
	position:absolute;
	top:.5em;
	left:15px;
	font-size:2.6em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:2.8em;
	padding:.1em 0 .2em 0;
	font-variant:small-caps;
	}

#logo a {
	color:#999999;
	text-decoration:none;
	}

#top-information-home {
	text-align:right;
	border-bottom:1px dashed #CACACA;
	position:absolute;
	top:0;
	right:22%;
	height:2em;
	width:13%;
	padding:0 1.5% 0 0;
	}
	
#top-information-phone {
	text-align:center;
	border-left:1px dashed #CACACA;
	position:absolute;
	top:1px;
	left:78%;
	height:100%;
	width: 176px;
	padding-top: 3;
	padding-right: 0;
	padding-bottom: 3;
	padding-left: 2%;
}

#top-information-link {
	text-align: center;
	border-left:1px dashed #CACACA;
	position:absolute;
	top:0;
	right:0;
	height:2em;
	width:8.5%;
	padding:0 0 0 1.5%;
	}

#heading{
	text-align: left;
	font-size:1.4em;
	font-weight:bold;
	}


#subheading{
	font-size:1.1em;
	font-weight:bold;
	}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MAIN NAV 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#menu-navegacion {
	margin-left:auto;
	margin-right:auto;
	width:920px;
	position:relative;
	font-weight:bold;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 20px;
	background-image: url('../../Img/bg-nav.png');
	background-repeat: repeat-x;
	background-color: #003366;
    top: 0px;
    left: 20px;
}

#menu-navegacion div {
	width:21%;
	position:absolute;
	top:0;
	right:0;
	text-align: center;
	background-image: url(../../Img/bg-nav-side.png);
	background-repeat: repeat-x;
	background-position: right top;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#menu-navegacion ul {
	list-style-type: none;
	}
	
#menu-navegacion li {
	display:inline;
	list-style:none;
	background:none;
	padding-right: 50px;
	height: 21px;
	width: 548px;
	}

#menu-navegacion a:link,
#menu-navegacion a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

#menu-navegacion a:hover {
	color:#999999;
	text-decoration:underline;
}

#menu-navegacion a:active {
	color:#000000;
	background-color: #999999;
}

#menu-navegacion li.current a:link,
#menu-navegacion li.current a:visited {
	text-decoration:underline;
}

#menu-navegacion li.current a:hover {
	color:#ffffff;
	text-decoration:underline;
}

#menu-navegacion li.current a:active {
	color:#FFFFFF;
}

/* ACTIVE PAGES */
#menu-navegacion a.StaticSelectedStyle:link,
#menu-navegacion a.StaticSelectedStyle:visited {
	color:#ffffff;
	text-decoration:underline;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	POSTER PHOTO

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#poster-photo-container {
	margin-left:auto;
	margin-right:auto;
	width:940px;
	position:relative;
	top: 0px;
	left: 20px;
	height: 160px;
}
	
#poster-photo-image {
	border-right:3px solid #FFF;
	display:block;
	background-image: url('../../Img/posterfinal.jpg');
	width: 100%;
	background-position: left top;
	height:160px;
	background-repeat: no-repeat;
}
#feature-area-home {
	position:absolute;
	top:0;
	right:0;
	width:19%;
	text-align:center;
	color:#000;
	font-size:1.2em;
	font-weight:bold;
	line-height:160%;
	height: 83px;
	background-color: #FFF;
	padding: 10px;
	border: 0.5px solid #CCC;
}

#feature-area-home a:link,
#feature-area-home a:visited {
	color:#ffffff;
	text-decoration:underline;
	}
	
#feature-area-home a:hover {
	text-decoration:none;
	}
	
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	titulo-pagina

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#titulo-pagina {
	padding: 20px 20px;
    margin-left:auto;
	margin-right:auto;
	width:900px;
	position:relative;
	color:#000;
	font-size: large;
	background-color: #FF9;
    top: 0px;
    left: 20px;
}

#titulo-pagina a:link,
#titulo-pagina a:visited {
	color:#FFFFFF;
	text-decoration:none;
	}

#titulo-pagina a:hover{
	color:#ffffff;
	text-decoration:none;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	GRID VIEW CONTROL

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.panel-grid {
	overflow: auto;
	height: 350px;
    text-align: center;
}

.grid-view
{
	padding: 1px;
	margin: 0;
	vertical-align: top;
	text-align: center;
    font-size: small;
    height:auto;
}
.grid-view-productos
{
	padding: 2px;
	margin: 0;
	vertical-align: top;
	text-align: right;
    font-size:medium;
    height:815px; 
   
}

.grid-view th
{
	top:auto;
	left:auto;
	color: #FFF;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	background-color: #02456F;
	padding: 3px;
}

.grid-view tr
{
	color: #000;
	height: 20px;
	vertical-align: top;
	top:20px;
	text-align: left;
	padding: 5px;
}

.grid-footer
{
	color: #FFF;
	height: 18px;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	background-color: #FFCF03;
}

.grid-view-ruta
{
	padding: 1px;
	margin: 0;
	background-color: #FFF;
	vertical-align: top;
	text-align: center;
}

.grid-view-ruta th
{
	color: #FFF;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	background-color: #000;
	padding: 3px;
}

.grid-view-ruta tr
{
	color: #000;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	padding: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	BOTONES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.button {
	width: 100px;
	height: 35px;
}

.aviso {
	font-weight: bold;
	color: #F00;
}

.txt {
	height: 18px;
	width: 250px;
}

.ddl {
	height: 22px;
	width: 250px;
}

.pnlDetalle {
	top: 20px;
	right: auto;
	width: 874px;
	border: 1px solid #000;
	left: auto;
	padding: 15px;
	background-color: #FFF;
	z-index: 5;
	position: fixed;
}

.pnlCompletado {
	position: fixed;
	right: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-weight: bold;
	bottom: 0px;
	background-image: url('../../../../Img/transparente.png');
}

#pnlSave {
	position: fixed;
	right: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-weight: bold;
	bottom: 0px;
	background-image: url('../../../../Img/transparente.png');
}
	
#pnlDetalle {
	position: fixed;
	right: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-weight: bold;
	bottom: 0px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LISTS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul {
	margin:0;
	padding:0;
	}

li {
	list-style:none;
	background:url(../../Img/list-bullet-02.gif) no-repeat 0 .8em;
	padding:.2em 0 .2em 1em;
	margin-left:0.4em;
	
}

ul.list-of-links {
	border-bottom:1px dotted #B2B2B2;
}

#content-side1-three-column ul.list-of-links,
#content-side2-three-column ul.list-of-links {
	margin: 0 0 30px 0px;
}

ul.list-of-links li.current {
	background-color:#E5E5E5;
}


ul.no-lines,
ul.no-lines li {
	border:none;
	}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HOME PAGE FEATURE AREA

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.feature-area {
	background-color:#ffffff;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	Imagenes & PHOTOS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

img {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    }

.photo-border {
	border:1px solid #cecece;
	padding:4px;
	margin-bottom:5px;
	display:block;
}

.photo-float-left {
	float:left;
	margin-right:10px;
	}

.image-border-none {
	border:none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	FOOTER

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {
	margin-left:auto;
	margin-right:auto;
	width:880px;
	position:relative;
	font-weight:bold;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 20px;
	background-image: url(../../Img/bg-nav.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#footer div {
	width:20%;
	position:absolute;
	top:0;
	right:0;
	background-image: url(../../Img/bg-nav-side.png);
	background-repeat: repeat-x;
	background-position: right bottom;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 0px;
}

#footer a:link,
#footer a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

#footer a:hover {
	color:#ffffff;
	text-decoration:none;
}

#footer a:active {
	color:#FFFFFF;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	FOOTER-SUB

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer-sub {
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
	width:740px;
	text-align:center;
	padding:.1em 0 2em 0;
	position:relative;
	font-size:.8em;
	color:#999999;
	}

#footer-sub ul {
	margin:0;
	padding:0;
	}
	
#footer-sub li {
	display:inline;
	list-style:none;
	padding:0 1em 0 0;
	background:none;
	}

#footer-sub a:link,
#footer-sub a:visited {
	text-decoration:underline;
	color:#999999;
}

#footer-sub a:hover {
	color:#000000;
	text-decoration:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MISC CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.Seguimiento-date {
	font-size:0.9em;
	font-style:italic;
	color:#A4A4A4;
}

.arrow {
	vertical-align:middle;
	}

input.button-big {
	font-weight:bold;
	padding:.7em 1.5em;
	font-size:1.1em;
	vertical-align:bottom;
	}

input.button-small {
	font-weight:normal;
	padding:.4em 1em;
	font-size:.8em;
	vertical-align:bottom;
	}

.clear {
	clear:both;
	}

.none {
    display:none;
}e;
